body{
	background-image: url("../aroncan/aroncan.jpg");
}

.container{
	max-width: 60em;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 1em;
}

header{
	display: flex;
	height: 100px;
	justify-content: space-between;
}
.fyrirsogn{
}
h1{
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 50px;
	padding-left: 1em;
}
.forsida a{
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-decoration: none;
	color: black;
}
.forsida{
	margin-top: 1.5em;
	padding: 2.5em;
}
.efni{
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	margin: 0 auto;
	text-align: center;
	padding: 2em;
}
.mynd{
	padding: 2em;
}
img{
	width: 80%;
	height: 80%;
	border-radius: 1em;
}
.myndband{
	padding: 2em;
}

/*==========================================*/

